{
    "root": true,
    "env": {
        "node": true
    },
    "extends": [
        "plugin:vue/recommended",
        "@vue/airbnb"
    ],
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "no-shadow": 0,
        "import/no-dynamic-require": 0,
        "global-require": 0,
        "no-console": 0,
        "no-underscore-dangle": 1,
        "vue/html-indent": [2, 4],
        "vue/component-name-in-template-casing": [2, "kebab-case"],
        "max-len": [
            "error",
            120,
            2,
            {
                "ignoreUrls": true,
                "ignoreComments": false,
                "ignoreRegExpLiterals": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true
            }
        ]
    },
    "parserOptions": {
        "parser": "babel-eslint"
    }
}
